%p
  - if @hooter.avatar.attached?
    = image_tag(@hooter.avatar)
  - else
    = image_tag('default_avatar')
  %br
  %b User:
  = @hooter.username
  %br
  %b Followers:
  = @hooter.followers.count
  %br
  %b Follows:
  = @hooter.follows.count
  %br
  - unless current_user == @hooter
    = button_to 'Follow', follow_user_path(@hooter), method: :post
= link_to 'Back', hoots_path
