%div.flex.text-white.gap-3.px-4.py-3.border-neutral-600.border-b
  = image_tag(hoot.user&.avatar, class: "object-cover w-12 h-12 rounded-full")
  %div{ class: "text-[15px]" }
    %div{ class: "mb-0.5" }
      %span.font-bold.mr-1= hoot.user.name
      %span.text-neutral-500= "@#{hoot.user.username}"
      %span.text-neutral-500 &#183;
      %span.text-neutral-500= hoot.created_at.strftime("%b %d")
    %div
      %span= hoot.body
    %div.flex.justify-start
      %a.flex.items-center.justify-start.text-neutral-400.mt-3.group{ href: "#", class: "hover:text-rose-600" }
        %div.flex.items-center.justify-center.p-2.rounded-full.bg-transparent{ class: "group-hover:bg-rose-800/30" }
          %svg.w-4.h-4{ fill: "none", stroke: "currentColor", "stroke-width" => "1.5", viewbox: "0 0 24 24", xmlns: "http://www.w3.org/2000/svg"}
            %path{d: "M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
        %span.pl-2.pr-3{ class: "text-[13px]" }= hoot.likes.count

