%h1 Listing hoots

%table
  %thead
    %tr
      %th Body
      %th User
      %th Likes
      %th
      %th
      %th

  %tbody
    - @hoots.each do |hoot|
      %tr
        %td= hoot.body
        %td= hoot.user.username
        %td= hoot.likes.count
        %td= link_to 'Show', hoot
        %td= link_to 'Edit', edit_hoot_path(hoot)
        %td= button_to 'Like', likes_path(hoot), method: :post

%br

= link_to 'New Hoot', new_hoot_path
