%p#notice= notice

%p
  %b Body:
  = @hoot.body_with_links
%p
  %b User:
  = @hoot.user.username

= link_to 'Edit', edit_hoot_path(@hoot) if current_user == @hoot.user
%br
= link_to 'Back', hoots_path
