!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Hooter
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = favicon_link_tag asset_path('favicon.png')
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body.bg-black.h-full.w-full
    %main.container.mx-auto.px-3
      - flash.each do |type, msg|
        %div
          = msg
      %div.flex
        = render "layouts/sidebar"
        %div.border-r.border-neutral-600{ class: "w-[640px]" }
          = yield
        = render "layouts/rightbar"
